/* App.css */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
}

.dashboard-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.table th:first-child,
.table td:first-child {
  padding-left: 16px;
}

.table th:last-child,
.table td:last-child {
  padding-right: 16px;
}

.loading-text {
  text-align: center;
  margin-top: 20px;
}

.error-text {
  color: red;
  margin-top: 20px;
}
